In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [13]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
base = automap_base()
# reflect the tables
base.prepare(engine, reflect = True)

In [6]:
# View all of the classes that automap found
base.classes.keys()

['measurement', 'station']

In [9]:
# Save references to each table
measurement = base.classes.measurement
station = base.classes.station

In [10]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [14]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [15]:
#measurement column names
measurement_col = inspector.get_columns('measurement')
for c in measurement_col:
    print(c["name"], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [16]:
#station column names
station_col = inspector.get_columns('station')
for c in station_col:
    print(c["name"], c["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [17]:
# Find the most recent date in the data set.
start_date = session.query(measurement.date).order_by(measurement.date.desc()).first()
start_date

('2017-08-23')

In [18]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 
# Calculate the date one year from the last date in data set.
# Perform a query to retrieve the data and precipitation scores
percipitation_12 = session.query(measurement.date, measurement.prcp).\
filter(measurement.date >= '2016-08-24').filter(measurement.date <= '2017-08-23').order_by(measurement.date).all()
percipitation_12

[('2016-08-24', 0.08),
 ('2016-08-24', 2.15),
 ('2016-08-24', 2.28),
 ('2016-08-24', None),
 ('2016-08-24', 1.22),
 ('2016-08-24', 2.15),
 ('2016-08-24', 1.45),
 ('2016-08-25', 0.08),
 ('2016-08-25', 0.08),
 ('2016-08-25', 0.0),
 ('2016-08-25', 0.0),
 ('2016-08-25', 0.21),
 ('2016-08-25', 0.06),
 ('2016-08-25', 0.11),
 ('2016-08-26', 0.0),
 ('2016-08-26', 0.03),
 ('2016-08-26', 0.02),
 ('2016-08-26', 0.04),
 ('2016-08-26', 0.0),
 ('2016-08-26', 0.01),
 ('2016-08-27', 0.0),
 ('2016-08-27', 0.18),
 ('2016-08-27', 0.02),
 ('2016-08-27', 0.0),
 ('2016-08-27', 0.12),
 ('2016-08-27', None),
 ('2016-08-28', 0.01),
 ('2016-08-28', 0.14),
 ('2016-08-28', 0.14),
 ('2016-08-28', 0.14),
 ('2016-08-28', 0.6),
 ('2016-08-28', 2.07),
 ('2016-08-29', 0.0),
 ('2016-08-29', 0.17),
 ('2016-08-29', 0.04),
 ('2016-08-29', None),
 ('2016-08-29', 0.0),
 ('2016-08-29', 0.35),
 ('2016-08-29', 0.9),
 ('2016-08-30', 0.0),
 ('2016-08-30', 0.0),
 ('2016-08-30', 0.02),
 ('2016-08-30', 0.0),
 ('2016-08-30', 0.0),
 ('2016-08-30', 0.05),
 ('2016-08-31', 0.13),
 ('2016-08-31', 0.1),
 ('2016-08-31', None),
 ('2016-08-31', None),
 ('2016-08-31', 0.25),
 ('2016-08-31', 0.24),
 ('2016-08-31', 2.46),
 ('2016-09-01', 0.0),
 ('2016-09-01', 0.0),
 ('2016-09-01', 0.0),
 ('2016-09-01', None),
 ('2016-09-01', 0.02),
 ('2016-09-01', 0.01),
 ('2016-09-02', 0.0),
 ('2016-09-02', 0.02),
 ('2016-09-02', 0.19),
 ('2016-09-02', None),
 ('2016-09-02', None),
 ('2016-09-02', 0.01),
 ('2016-09-02', 0.03),
 ('2016-09-03', 0.0),
 ('2016-09-03', 0.07),
 ('2016-09-03', 0.08),
 ('2016-09-03', 0.12),
 ('2016-09-03', 1.0),
 ('2016-09-04', 0.03),
 ('2016-09-04', 0.03),
 ('2016-09-04', 0.74),
 ('2016-09-04', 0.14),
 ('2016-09-04', 0.44),
 ('2016-09-05', None),
 ('2016-09-05', 0.11),
 ('2016-09-05', None),
 ('2016-09-05', 0.02),
 ('2016-09-05', 0.03),
 ('2016-09-05', 0.18),
 ('2016-09-06', None),
 ('2016-09-06', 0.05),
 ('2016-09-06', 0.04),
 ('2016-09-06', 0.03),
 ('2016-09-06', 0.11),
 ('2016-09-06', 1.0),
 ('2016-09-07', 0.05),
 ('2016-09-07', 0.1),
 ('2016-09-07', 0.23),
 ('2016-09-07', 0.11),
 ('2016-09-07', 0.16),
 ('2016-09-07', 1.35),
 ('2016-09-08', 0.0),
 ('2016-09-08', 0.22),
 ('2016-09-08', 0.01),
 ('2016-09-08', None),
 ('2016-09-08', 0.01),
 ('2016-09-08', 0.07),
 ('2016-09-08', 0.15),
 ('2016-09-09', 0.03),
 ('2016-09-09', 0.01),
 ('2016-09-09', 0.29),
 ('2016-09-09', None),
 ('2016-09-09', 0.23),
 ('2016-09-09', 0.16),
 ('2016-09-09', 0.35),
 ('2016-09-10', 0.0),
 ('2016-09-10', 0.01),
 ('2016-09-10', 0.14),
 ('2016-09-10', 0.09),
 ('2016-09-10', 1.16),
 ('2016-09-11', 0.05),
 ('2016-09-11', 0.18),
 ('2016-09-11', 0.12),
 ('2016-09-11', 0.3),
 ('2016-09-11', 0.6),
 ('2016-09-12', 0.0),
 ('2016-09-12', 0.04),
 ('2016-09-12', None),
 ('2016-09-12', None),
 ('2016-09-12', 0.15),
 ('2016-09-12', 0.31),
 ('2016-09-12', 1.04),
 ('2016-09-13', 0.02),
 ('2016-09-13', 0.37),
 ('2016-09-13', 0.32),
 ('2016-09-13', None),
 ('2016-09-13', 0.46),
 ('2016-09-13', 0.34),
 ('2016-09-13', 1.2),
 ('2016-09-14', 1.32),
 ('2016-09-14', 0.9),
 ('2016-09-14', 1.84),
 ('2016-09-14', None),
 ('2016-09-14', 1.19),
 ('2016-09-14', 2.33),
 ('2016-09-14', 6.7),
 ('2016-09-15', 0.42),
 ('2016-09-15', 0.12),
 ('2016-09-15', 0.07),
 ('2016-09-15', None),
 ('2016-09-15', 0.17),
 ('2016-09-15', 0.83),
 ('2016-09-15', 3.35),
 ('2016-09-16', 0.06),
 ('2016-09-16', 0.01),
 ('2016-09-16', 0.07),
 ('2016-09-16', 0.0),
 ('2016-09-16', 0.01),
 ('2016-09-16', 0.06),
 ('2016-09-16', 0.61),
 ('2016-09-17', 0.05),
 ('2016-09-17', 0.04),
 ('2016-09-17', 0.0),
 ('2016-09-17', 0.36),
 ('2016-09-17', 0.23),
 ('2016-09-18', 0.0),
 ('2016-09-18', 0.0),
 ('2016-09-18', 0.04),
 ('2016-09-18', 0.07),
 ('2016-09-18', 0.42),
 ('2016-09-19', 0.0),
 ('2016-09-19', 0.01),
 ('2016-09-19', None),
 ('2016-09-19', None),
 ('2016-09-19', 0.05),
 ('2016-09-19', 0.01),
 ('2016-09-19', 0.25),
 ('2016-09-20', 0.0),
 ('2016-09-20', 0.09),
 ('2016-09-20', 0.25),
 ('2016-09-20', 0.0),
 ('2016-09-20', 0.04),
 ('2016-09-20', 0.22),
 ('2016-09-20', 0.43),
 ('2016-09-21', 0.0),
 ('2016-09-21', 0.06),
 ('2016-09-21', 0.02),
 ('2016-09-21', 0.0),
 ('2016-09-21', 0.07),
 ('2016-09-21', 1.02),
 ('2016-09-22', 0.02),
 ('2016-09-22', 0.09),
 ('2016-09-22', 0.17),
 ('2016-09-22', 0.06),
 ('2016-09-22', 0.01),
 ('2016-09-22', 0.34),
 ('2016-09-22', 0.75),
 ('2016-09-23', 0.0),
 ('2016-09-23', 0.15),
 ('2016-09-23', 0.15),
 ('2016-09-23', 0.0),
 ('2016-09-23', 0.0),
 ('2016-09-23', 0.94),
 ('2016-09-23', 0.33),
 ('2016-09-24', 0.0),
 ('2016-09-24', 0.0),
 ('2016-09-24', 0.0),
 ('2016-09-24', 0.0),
 ('2016-09-24', 0.01),
 ('2016-09-24', 0.27),
 ('2016-09-25', 0.0),
 ('2016-09-25', 0.02),
 ('2016-09-25', 0.0),
 ('2016-09-25', 0.0),
 ('2016-09-25', 0.03),
 ('2016-09-25', 0.04),
 ('2016-09-26', 0.06),
 ('2016-09-26', 0.06),
 ('2016-09-26', 0.02),
 ('2016-09-26', None),
 ('2016-09-26', 0.34),
 ('2016-09-26', 0.17),
 ('2016-09-26', 1.02),
 ('2016-09-27', 0.02),
 ('2016-09-27', 0.12),
 ('2016-09-27', 0.0),
 ('2016-09-27', 0.05),
 ('2016-09-27', 0.17),
 ('2016-09-27', 1.0),
 ('2016-09-28', 0.0),
 ('2016-09-28', 0.08),
 ('2016-09-28', 0.0),
 ('2016-09-28', 0.0),
 ('2016-09-28', 0.0),
 ('2016-09-28', 0.0),
 ('2016-09-28', 0.05),
 ('2016-09-29', 0.0),
 ('2016-09-29', 0.49),
 ('2016-09-29', 0.2),
 ('2016-09-29', 0.04),
 ('2016-09-29', 0.18),
 ('2016-09-29', 0.59),
 ('2016-09-29', 1.49),
 ('2016-09-30', 0.0),
 ('2016-09-30', 0.31),
 ('2016-09-30', 0.06),
 ('2016-09-30', None),
 ('2016-09-30', 0.15),
 ('2016-09-30', 0.25),
 ('2016-09-30', 0.38),
 ('2016-10-01', 0.0),
 ('2016-10-01', 0.14),
 ('2016-10-01', 0.08),
 ('2016-10-01', 0.07),
 ('2016-10-01', 0.14),
 ('2016-10-01', 1.02),
 ('2016-10-02', 0.0),
 ('2016-10-02', 0.02),
 ('2016-10-02', 0.03),
 ('2016-10-02', 0.0),
 ('2016-10-02', 0.06),
 ('2016-10-02', 0.61),
 ('2016-10-03', 0.0),
 ('2016-10-03', 0.04),
 ('2016-10-03', 0.03),
 ('2016-10-03', None),
 ('2016-10-03', 0.0),
 ('2016-10-03', 0.16),
 ('2016-10-03', 0.46),
 ('2016-10-04', 0.0),
 ('2016-10-04', 0.0),
 ('2016-10-04', 0.0),
 ('2016-10-04', None),
 ('2016-10-04', 0.0),
 ('2016-10-04', 0.03),
 ('2016-10-04', 3.46),
 ('2016-10-05', 0.0),
 ('2016-10-05', 0.0),
 ('2016-10-05', 0.0),
 ('2016-10-05', None),
 ('2016-10-05', 0.0),
 ('2016-10-05', 0.01),
 ('2016-10-05', 0.81),
 ('2016-10-06', 0.0),
 ('2016-10-06', 0.05),
 ('2016-10-06', 0.0),
 ('2016-10-06', 0.07),
 ('2016-10-06', 0.0),
 ('2016-10-06', 0.0),
 ('2016-10-06', 0.04),
 ('2016-10-07', 0.0),
 ('2016-10-07', 0.0),
 ('2016-10-07', 0.0),
 ('2016-10-07', None),
 ('2016-10-07', 0.0),
 ('2016-10-07', 0.0),
 ('2016-10-07', 0.01),
 ('2016-10-08', 0.0),
 ('2016-10-08', 0.0),
 ('2016-10-08', 0.0),
 ('2016-10-08', 0.0),
 ('2016-10-08', 0.04),
 ('2016-10-09', 0.0),
 ('2016-10-09', 0.0),
 ('2016-10-09', 0.0),
 ('2016-10-09', 0.0),
 ('2016-10-09', 0.0),
 ('2016-10-10', 0.0),
 ('2016-10-10', 0.0),
 ('2016-10-10', None),
 ('2016-10-10', 0.0),
 ('2016-10-10', 0.0),
 ('2016-10-10', 0.0),
 ('2016-10-11', 0.0),
 ('2016-10-11', 0.02),
 ('2016-10-11', 0.04),
 ('2016-10-11', None),
 ('2016-10-11', 0.0),
 ('2016-10-11', 0.28),
 ('2016-10-11', 0.35),
 ('2016-10-12', 0.0),
 ('2016-10-12', 0.03),
 ('2016-10-12', 0.0),
 ('2016-10-12', 0.0),
 ('2016-10-12', 0.03),
 ('2016-10-12', 0.02),
 ('2016-10-13', 0.0),
 ('2016-10-13', 0.0),
 ('2016-10-13', 0.02),
 ('2016-10-13', None),
 ('2016-10-13', 0.0),
 ('2016-10-13', 0.0),
 ('2016-10-13', 0.06),
 ('2016-10-14', 0.0),
 ('2016-10-14', 0.0),
 ('2016-10-14', 0.0),
 ('2016-10-14', 0.0),
 ('2016-10-14', 0.0),
 ('2016-10-14', 0.0),
 ('2016-10-15', 0.0),
 ('2016-10-15', 0.0),
 ('2016-10-15', 0.02),
 ('2016-10-15', 0.0),
 ('2016-10-15', 0.04),
 ('2016-10-15', 0.33),
 ('2016-10-16', 0.0),
 ('2016-10-16', 0.0),
 ('2016-10-16', 0.0),
 ('2016-10-16', 0.0),
 ('2016-10-16', 0.0),
 ('2016-10-17', 0.01),
 ('2016-10-17', 0.03),
 ('2016-10-17', None),
 ('2016-10-17', None),
 ('2016-10-17', 0.12),
 ('2016-10-17', 0.01),
 ('2016-10-17', 0.38),
 ('2016-10-18', 0.0),
 ('2016-10-18', 0.05),
 ('2016-10-18', 0.03),
 ('2016-10-18', None),
 ('2016-10-18', 0.02),
 ('2016-10-18', 0.02),
 ('2016-10-18', 0.48),
 ('2016-10-19', 0.0),
 ('2016-10-19', 0.06),
 ('2016-10-19', 0.0),
 ('2016-10-19', None),
 ('2016-10-19', 0.0),
 ('2016-10-19', 0.11),
 ('2016-10-19', 0.0),
 ('2016-10-20', 0.0),
 ('2016-10-20', 0.0),
 ('2016-10-20', 0.01),
 ('2016-10-20', None),
 ('2016-10-20', 0.0),
 ('2016-10-20', 1.0),
 ('2016-10-21', 0.05),
 ('2016-10-21', 0.15),
 ('2016-10-21', 0.03),
 ('2016-10-21', None),
 ('2016-10-21', None),
 ('2016-10-21', 0.0),
 ('2016-10-21', 0.09),
 ('2016-10-22', 0.15),
 ('2016-10-22', 0.1),
 ('2016-10-22', 0.0),
 ('2016-10-22', 0.15),
 ('2016-10-22', 1.37),
 ('2016-10-23', 0.01),
 ('2016-10-23', 0.01),
 ('2016-10-23', None),
 ('2016-10-23', 0.0),
 ('2016-10-23', 0.02),
 ('2016-10-23', 0.24),
 ('2016-10-24', 0.0),
 ('2016-10-24', 0.0),
 ('2016-10-24', 0.01),
 ('2016-10-24', None),
 ('2016-10-24', 0.0),
 ('2016-10-24', 0.08),
 ('2016-10-24', 0.7),
 ('2016-10-25', 0.03),
 ('2016-10-25', 0.04),
 ('2016-10-25', 0.0),
 ('2016-10-25', 0.4),
 ('2016-10-25', 0.12),
 ('2016-10-25', 0.11),
 ('2016-10-25', 0.4),
 ('2016-10-26', 0.0),
 ('2016-10-26', 0.06),
 ('2016-10-26', 0.2),
 ('2016-10-26', 0.02),
 ('2016-10-26', 0.01),
 ('2016-10-26', 0.0),
 ('2016-10-27', 0.0),
 ('2016-10-27', 0.11),
 ('2016-10-27', 0.2),
 ('2016-10-27', None),
 ('2016-10-27', 0.08),
 ('2016-10-27', 0.22),
 ('2016-10-27', 1.25),
 ('2016-10-28', 0.0),
 ('2016-10-28', 0.02),
 ('2016-10-28', 0.07),
 ('2016-10-28', None),
 ('2016-10-28', 0.06),
 ('2016-10-28', 0.05),
 ('2016-10-28', 0.37),
 ('2016-10-29', 0.0),
 ('2016-10-29', 0.02),
 ('2016-10-29', 0.26),
 ('2016-10-29', 0.01),
 ('2016-10-29', 0.1),
 ('2016-10-29', 0.25),
 ('2016-10-30', 0.24),
 ('2016-10-30', 0.1),
 ('2016-10-30', 0.14),
 ('2016-10-30', 0.0),
 ('2016-10-30', 0.16),
 ('2016-10-30', 0.95),
 ('2016-10-31', 0.03),
 ('2016-10-31', 0.03),
 ('2016-10-31', 0.0),
 ('2016-10-31', None),
 ('2016-10-31', 0.13),
 ('2016-10-31', 0.07),
 ('2016-10-31', 1.35),
 ('2016-11-01', 0.0),
 ('2016-11-01', 0.01),
 ('2016-11-01', 0.0),
 ('2016-11-01', 0.01),
 ('2016-11-01', 0.1),
 ('2016-11-01', 0.09),
 ('2016-11-02', 0.0),
 ('2016-11-02', 0.0),
 ('2016-11-02', 0.0),
 ('2016-11-02', 0.0),
 ('2016-11-02', 0.0),
 ('2016-11-02', 0.04),
 ('2016-11-03', 0.0),
 ('2016-11-03', 0.0),
 ('2016-11-03', 0.0),
 ('2016-11-03', 0.0),
 ('2016-11-03', 0.0),
 ('2016-11-03', 0.02),
 ('2016-11-04', 0.0),
 ('2016-11-04', 0.0),
 ('2016-11-04', 0.0),
 ('2016-11-04', None),
 ('2016-11-04', 0.0),
 ('2016-11-04', 0.0),
 ('2016-11-04', 0.06),
 ('2016-11-05', 0.0),
 ('2016-11-05', 0.02),
 ('2016-11-05', 0.0),
 ('2016-11-05', 0.02),
 ('2016-11-05', 0.03),
 ('2016-11-05', 0.38),
 ('2016-11-06', 0.0),
 ('2016-11-06', 0.02),
 ('2016-11-06', 0.0),
 ('2016-11-06', 0.0),
 ('2016-11-06', 0.01),
 ('2016-11-06', 0.05),
 ('2016-11-07', 0.0),
 ('2016-11-07', 0.0),
 ('2016-11-07', 0.13),
 ('2016-11-07', None),
 ('2016-11-07', 0.0),
 ('2016-11-07', 0.0),
 ('2016-11-07', 0.05),
 ('2016-11-08', 0.07),
 ('2016-11-08', 0.14),
 ('2016-11-08', 0.02),
 ('2016-11-08', 0.15),
 ('2016-11-08', 0.21),
 ('2016-11-08', 0.53),
 ('2016-11-09', 0.0),
 ('2016-11-09', 0.08),
 ('2016-11-09', 0.17),
 ('2016-11-09', 0.0),
 ('2016-11-09', 0.0),
 ('2016-11-09', 0.11),
 ('2016-11-09', 0.04),
 ('2016-11-10', 0.0),
 ('2016-11-10', 0.0),
 ('2016-11-10', 0.0),
 ('2016-11-10', 0.0),
 ('2016-11-10', 0.0),
 ('2016-11-10', 0.01),
 ('2016-11-11', 0.0),
 ('2016-11-11', 0.0),
 ('2016-11-11', 0.0),
 ('2016-11-11', 0.0),
 ('2016-11-11', 0.0),
 ('2016-11-11', 0.0),
 ('2016-11-12', 0.0),
 ('2016-11-12', 0.0),
 ('2016-11-12', 0.0),
 ('2016-11-12', 0.0),
 ('2016-11-12', 0.0),
 ('2016-11-12', 0.0),
 ('2016-11-13', 0.0),
 ('2016-11-13', 0.0),
 ('2016-11-13', 0.0),
 ('2016-11-13', 0.0),
 ('2016-11-13', 0.0),
 ('2016-11-13', 0.0),
 ('2016-11-14', 0.0),
 ('2016-11-14', 0.06),
 ('2016-11-14', 0.05),
 ('2016-11-14', 0.02),
 ('2016-11-14', 0.0),
 ('2016-11-14', 0.0),
 ('2016-11-14', 0.02),
 ('2016-11-15', 0.0),
 ('2016-11-15', 0.0),
 ('2016-11-15', 0.0),
 ('2016-11-15', None),
 ('2016-11-15', 0.0),
 ('2016-11-15', 0.0),
 ('2016-11-15', 0.05),
 ('2016-11-16', 0.0),
 ('2016-11-16', 0.14),
 ('2016-11-16', 0.18),
 ('2016-11-16', None),
 ('2016-11-16', 0.07),
 ('2016-11-16', 0.24),
 ('2016-11-16', 0.91),
 ('2016-11-17', 0.0),
 ('2016-11-17', 0.03),
 ('2016-11-17', 0.0),
 ('2016-11-17', None),
 ('2016-11-17', 0.0),
 ('2016-11-17', 0.01),
 ('2016-11-17', 0.02),
 ('2016-11-18', 0.0),
 ('2016-11-18', 0.01),
 ('2016-11-18', None),
 ('2016-11-18', 0.02),
 ('2016-11-18', 0.0),
 ('2016-11-19', 0.03),
 ('2016-11-19', 0.11),
 ('2016-11-19', 0.13),
 ('2016-11-19', 0.11),
 ('2016-11-20', 0.05),
 ('2016-11-20', 0.11),
 ('2016-11-20', 0.4),
 ('2016-11-20', 0.39),
 ('2016-11-20', None),
 ('2016-11-21', 0.01),
 ('2016-11-21', 0.02),
 ('2016-11-21', None),
 ('2016-11-21', 0.07),
 ('2016-11-21', 0.11),
 ('2016-11-21', 2.87),
 ('2016-11-22', 0.13),
 ('2016-11-22', 0.41),
 ('2016-11-22', None),
 ('2016-11-22', None),
 ('2016-11-22', 0.31),
 ('2016-11-22', 2.05),
 ('2016-11-22', 2.11),
 ('2016-11-23', 0.14),
 ('2016-11-23', 0.03),
 ('2016-11-23', None),
 ('2016-11-23', 0.03),
 ('2016-11-23', 0.25),
 ('2016-11-23', 0.22),
 ('2016-11-24', 0.05),
 ('2016-11-24', 0.2),
 ('2016-11-24', 0.21),
 ('2016-11-24', 0.3),
 ('2016-11-24', 0.72),
 ('2016-11-25', 0.05),
 ('2016-11-25', 0.05),
 ('2016-11-25', None),
 ('2016-11-25', 0.11),
 ('2016-11-25', 0.08),
 ('2016-11-25', 1.03),
 ('2016-11-26', 0.05),
 ('2016-11-26', 0.05),
 ('2016-11-26', 0.02),
 ('2016-11-26', 0.03),
 ('2016-11-26', 0.06),
 ('2016-11-26', 0.3),
 ('2016-11-27', 0.0),
 ('2016-11-27', 0.06),
 ('2016-11-27', 0.03),
 ('2016-11-27', 0.0),
 ('2016-11-27', 0.17),
 ('2016-11-27', 0.29),
 ('2016-11-28', 0.01),
 ('2016-11-28', 0.02),
 ('2016-11-28', 0.0),
 ('2016-11-28', None),
 ('2016-11-28', 0.0),
 ('2016-11-28', 0.0),
 ('2016-11-28', 0.69),
 ('2016-11-29', 0.0),
 ('2016-11-29', 0.04),
 ('2016-11-29', 0.04),
 ('2016-11-29', None),
 ('2016-11-29', 0.06),
 ('2016-11-29', 0.09),
 ('2016-11-29', 0.2),
 ('2016-11-30', 0.14),
 ('2016-11-30', 0.05),
 ('2016-11-30', 0.03),
 ('2016-11-30', None),
 ('2016-11-30', 0.0),
 ('2016-11-30', 0.05),
 ('2016-11-30', 0.79),
 ('2016-12-01', 0.12),
 ('2016-12-01', 0.33),
 ('2016-12-01', 0.07),
 ('2016-12-01', None),
 ('2016-12-01', 0.16),
 ('2016-12-01', 0.37),
 ('2016-12-01', 0.72),
 ('2016-12-02', 0.03),
 ('2016-12-02', 0.3),
 ('2016-12-02', 0.4),
 ('2016-12-02', None),
 ('2016-12-02', 0.01),
 ('2016-12-02', 0.35),
 ('2016-12-02', 1.27),
 ('2016-12-03', 0.0),
 ('2016-12-03', 0.04),
 ('2016-12-03', 0.26),
 ('2016-12-03', 0.02),
 ('2016-12-03', 0.77),
 ('2016-12-03', 1.62),
 ('2016-12-04', 0.03),
 ('2016-12-04', 0.1),
 ('2016-12-04', 0.0),
 ('2016-12-04', 0.32),
 ('2016-12-04', 0.04),
 ('2016-12-04', 0.31),
 ('2016-12-05', 0.43),
 ('2016-12-05', 0.34),
 ('2016-12-05', 0.2),
 ('2016-12-05', None),
 ('2016-12-05', 0.45),
 ('2016-12-05', 0.22),
 ('2016-12-05', 1.6),
 ('2016-12-06', 0.02),
 ('2016-12-06', 0.02),
 ('2016-12-06', None),
 ('2016-12-06', 0.0),
 ('2016-12-06', 0.0),
 ('2016-12-06', 0.0),
 ('2016-12-07', 0.0),
 ('2016-12-07', 0.17),
 ('2016-12-07', None),
 ('2016-12-07', None),
 ('2016-12-07', 0.07),
 ('2016-12-07', 0.12),
 ('2016-12-07', 0.02),
 ('2016-12-08', 0.03),
 ('2016-12-08', 0.03),
 ('2016-12-08', 0.02),
 ('2016-12-08', 0.27),
 ('2016-12-08', 0.01),
 ('2016-12-08', 0.07),
 ('2016-12-08', 0.03),
 ('2016-12-09', 0.52),
 ('2016-12-09', 0.34),
 ('2016-12-09', 0.26),
 ('2016-12-09', None),
 ('2016-12-09', 0.31),
 ('2016-12-09', 0.42),
 ('2016-12-10', 0.05),
 ('2016-12-10', 0.02),
 ('2016-12-10', 0.0),
 ('2016-12-10', None),
 ('2016-12-10', 0.02),
 ('2016-12-10', 0.04),
 ('2016-12-11', 0.04),
 ('2016-12-11', 0.02),
 ('2016-12-11', 0.06),
 ('2016-12-11', 0.0),
 ('2016-12-11', 0.13),
 ('2016-12-12', 0.01),
 ('2016-12-12', 0.01),
 ('2016-12-12', None),
 ('2016-12-12', 0.02),
 ('2016-12-12', 0.0),
 ('2016-12-12', 0.0),
 ('2016-12-12', 0.01),
 ('2016-12-13', 0.05),
 ('2016-12-13', 0.1),
 ('2016-12-13', 0.34),
 ('2016-12-13', None),
 ('2016-12-13', 0.15),
 ('2016-12-13', 0.04),
 ('2016-12-13', 0.09),
 ('2016-12-14', 0.03),
 ('2016-12-14', 0.05),
 ('2016-12-14', 0.12),
 ('2016-12-14', None),
 ('2016-12-14', 0.05),
 ('2016-12-14', 0.92),
 ('2016-12-14', 0.33),
 ('2016-12-15', 0.0),
 ('2016-12-15', 0.02),
 ('2016-12-15', 0.07),
 ('2016-12-15', None),
 ('2016-12-15', 0.0),
 ('2016-12-15', 0.14),
 ('2016-12-15', 0.03),
 ('2016-12-16', 0.0),
 ('2016-12-16', 0.01),
 ('2016-12-16', 0.0),
 ('2016-12-16', None),
 ('2016-12-16', 0.0),
 ('2016-12-16', 0.03),
 ('2016-12-16', 0.0),
 ('2016-12-17', 0.01),
 ('2016-12-17', 0.11),
 ('2016-12-17', 0.0),
 ('2016-12-17', 0.16),
 ('2016-12-17', 0.07),
 ('2016-12-18', 0.13),
 ('2016-12-18', 0.29),
 ('2016-12-18', 0.04),
 ('2016-12-18', 0.27),
 ('2016-12-18', 0.16),
 ('2016-12-18', None),
 ('2016-12-19', 0.01),
 ('2016-12-19', 0.21),
 ('2016-12-19', 0.0),
 ('2016-12-19', None),
 ('2016-12-19', 0.02),
 ('2016-12-19', 0.03),
 ('2016-12-19', 0.15),
 ('2016-12-20', 0.0),
 ('2016-12-20', 0.02),
 ('2016-12-20', 0.0),
 ('2016-12-20', None),
 ('2016-12-20', 0.01),
 ('2016-12-20', 0.0),
 ('2016-12-20', 0.0),
 ('2016-12-21', 0.0),
 ('2016-12-21', 0.03),
 ('2016-12-21', 0.09),
 ('2016-12-21', 0.06),
 ('2016-12-21', 0.06),
 ('2016-12-21', 0.11),
 ('2016-12-21', 0.55),
 ('2016-12-22', 0.01),
 ('2016-12-22', 0.17),
 ('2016-12-22', 0.05),
 ('2016-12-22', None),
 ('2016-12-22', 0.14),
 ('2016-12-22', 0.86),
 ('2016-12-22', 1.24),
 ('2016-12-23', 0.01),
 ('2016-12-23', 0.1),
 ('2016-12-23', 0.03),
 ('2016-12-23', None),
 ('2016-12-23', 0.02),
 ('2016-12-23', 0.24),
 ('2016-12-23', 0.83),
 ('2016-12-24', 0.01),
 ('2016-12-24', 0.14),
 ('2016-12-24', 0.13),
 ('2016-12-24', 0.06),
 ('2016-12-24', 0.2),
 ('2016-12-24', 1.08),
 ('2016-12-25', 0.0),
 ('2016-12-25', 0.03),
 ('2016-12-25', 0.0),
 ('2016-12-25', 0.02),
 ('2016-12-25', 0.38),
 ('2016-12-26', 0.02),
 ('2016-12-26', 0.26),
 ('2016-12-26', None),
 ('2016-12-26', 0.06),
 ('2016-12-26', 0.22),
 ('2016-12-26', 1.48),
 ('2016-12-27', 0.0),
 ('2016-12-27', 0.03),
 ('2016-12-27', 0.02),
 ('2016-12-27', 0.0),
 ('2016-12-27', 0.05),
 ('2016-12-27', 0.14),
 ('2016-12-28', 0.02),
 ('2016-12-28', 0.09),
 ('2016-12-28', 0.01),
 ('2016-12-28', None),
 ('2016-12-28', 0.06),
 ('2016-12-28', 0.09),
 ('2016-12-28', 0.14),
 ('2016-12-29', 0.04),
 ('2016-12-29', 0.18),
 ('2016-12-29', 0.56),
 ('2016-12-29', None),
 ('2016-12-29', 0.05),
 ('2016-12-29', 0.52),
 ('2016-12-29', 1.03),
 ('2016-12-30', 0.12),
 ('2016-12-30', 0.21),
 ('2016-12-30', 0.29),
 ('2016-12-30', None),
 ('2016-12-30', 0.07),
 ('2016-12-30', 0.29),
 ('2016-12-30', 2.37),
 ('2016-12-31', 0.01),
 ('2016-12-31', 0.62),
 ('2016-12-31', 0.36),
 ('2016-12-31', 0.25),
 ('2016-12-31', 0.9),
 ('2017-01-01', 0.0),
 ('2017-01-01', 0.29),
 ('2017-01-01', 0.0),
 ('2017-01-01', None),
 ('2017-01-01', 0.03),
 ('2017-01-01', 0.03),
 ('2017-01-02', 0.0),
 ('2017-01-02', 0.0),
 ('2017-01-02', 0.01),
 ('2017-01-02', 0.01),
 ('2017-01-02', 0.0),
 ('2017-01-03', 0.0),
 ('2017-01-03', 0.0),
 ('2017-01-03', 0.0),
 ('2017-01-03', None),
 ('2017-01-03', 0.0),
 ('2017-01-03', 0.0),
 ('2017-01-04', 0.0),
 ('2017-01-04', 0.0),
 ('2017-01-04', 0.0),
 ('2017-01-04', 0.18),
 ('2017-01-04', 0.0),
 ('2017-01-04', 0.0),
 ('2017-01-05', 0.0),
 ('2017-01-05', 0.0),
 ('2017-01-05', 0.0),
 ('2017-01-05', 0.42),
 ('2017-01-05', 0.06),
 ('2017-01-05', 0.47),
 ('2017-01-06', 0.0),
 ('2017-01-06', 0.0),
 ('2017-01-06', 0.59),
 ('2017-01-06', 0.01),
 ('2017-01-06', 0.1),
 ('2017-01-06', 0.1),
 ('2017-01-07', 0.0),
 ('2017-01-07', 0.06),
 ('2017-01-07', 0.0),
 ('2017-01-07', 0.0),
 ('2017-01-07', 0.0),
 ('2017-01-07', 0.0),
 ('2017-01-08', 0.0),
 ('2017-01-08', 0.0),
 ('2017-01-08', 0.03),
 ('2017-01-08', 0.0),
 ('2017-01-08', 0.0),
 ('2017-01-08', 0.03),
 ('2017-01-09', 0.0),
 ('2017-01-09', 0.0),
 ('2017-01-09', 0.0),
 ('2017-01-09', None),
 ('2017-01-09', 0.0),
 ('2017-01-09', 0.0),
 ('2017-01-09', 0.0),
 ('2017-01-10', 0.0),
 ('2017-01-10', 0.0),

In [21]:
# Save the query results as a Pandas DataFrame and set the index to the date column
# Sort the dataframe by date
percipitation_df = pd.DataFrame(percipitation_12, columns=['date','percipitations'])
percipitation_df.set_index('date')
percipitation_df.sort_values(by=['date'])
percipitation_df.head(10)

# Use Pandas Plotting with Matplotlib to plot the data

         date  percipitations
0  2016-08-24            0.08
1  2016-08-24            2.15
2  2016-08-24            2.28
3  2016-08-24             NaN
4  2016-08-24            1.22
5  2016-08-24            2.15
6  2016-08-24            1.45
7  2016-08-25            0.08
8  2016-08-25            0.08
9  2016-08-25            0.00

In [23]:
# Use Pandas to calcualte the summary statistics for the precipitation data
percipitation_df.describe()

       percipitations
count     2015.000000
mean         0.176462
std          0.460288
min          0.000000
25%          0.000000
50%          0.020000
75%          0.130000
max          6.700000

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()